@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


/* Font */
$font-primary : 'Roboto',
'sans-serif';
$font-weight : 500;

/* Background color */

$bg-primary: #93AD18;
$bg-secondary: #6E8511;
$bg-third: #8C9AE2;
$bg-fourth: #f6f6f6;