@use '../../pages/style/theme.scss';
@import '../../pages/style/mixin.scss';

.container {
    @include flexAlignCenter;
    flex-direction: column;

    .containerTable {
        margin: 10px 150px;
    }

    .link {
        @include linkbtn;
        margin: 20px;
    }
}

@media (max-width: 1300px) {

    .containerTable {
        margin: 0 !important;
        font-size: small;
    }

}